@font-face {
  font-family: "Slackey";
  font-weight: normal;
  font-style: normal;
  src:url("../fonts/slackey.woff") format("woff"),
      url("../fonts/slackey.ttf") format("truetype");
}
@font-face {
  font-family: "Geo";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/geo.woff") format("woff"),
       url("../fonts/get.ttf") format("truetype");
}